#game_and_footer {
	background-color: #46754a;
}


#main_window {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

hr {
	opacity: 0;
}

#dice_area{
}

#dice_and_change {
	display: flex;
	flex-direction: row;
}

#dice{
}

.die {
	width: 50px;
	height: 50px;
	border: 3px solid black;
	border-radius: 10px;
	margin: 20px;
	font-size: 36px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

#change_dice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#change_dice hr{
	height: 4px;
}

#change_dice .selector {
	width: 56px;
	height: 56px;
	border: 3px solid black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	appearance: none;
	font-size: 24px;
	text-align: center;
	text-align-last:center;
	background-color: lightsteelblue;
}

#main_window button {
	border: 2px solid black;
	border-radius: 10px;
	font-size: 18px;
	margin-top: 10px;
	background-color: beige;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}
#main_window button:hover {
	background-color: steelblue;
}

#active_special_card {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


#board {
	display: flex;
	flex-direction: row;
}

#middlecol {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1 0 auto;
	padding-right: 130px;
}

#players {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.player {
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.player_name {
	font-size: 18px;
	font-weight: bold;
}

.player_action {
	font-size: 16px;
}

.active {
	background-color: lightcoral;
}

#mid_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#public_space {
	border: 3px solid black;
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
	max-width: 500px;
}

#public_space > .card {
	margin: 30px;
}

#main_deck{
	min-width: 160px;
	min-height: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#auction_deck{
	min-width: 160px;
	min-height: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
}


#bottom_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#bid_area{
	min-width: 200px;
	min-height: 160px;
}

#active_card{
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
	max-width: 300px;
}

#pay_area{
	min-width: 200px;
	min-height: 160px;
}

#hand {
	border: 3px solid black;
	display: flex;
	justify-content: center;
	min-height: 160px;
	align-items: center;
	flex-wrap: wrap;
}


.game_container {
	padding: 10px;
	border: 0px solid grey;
	margin: 10px;
	border-radius: 20px;
	position: relative;
}

.card {
	height: 120px;
	width: 80px;
	border: 3px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 10px;

}

.selected {
	border: 3px solid red;
	cursor: pointer;
}

.selectable {
	cursor: pointer;
}

.card_number {
	font-size: 40px;
	padding-left: 10px;
}

.card_letter {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
}

.draggable {
	cursor: grab;	
}

.card.a {
	background-image: url('./img/snake.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.b {
	background-image: url('./img/sunflower.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.c {
	background-image: url('./img/lavender.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.d {
	background-image: url('./img/pearls.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.e {
	background-image: url('./img/monstera.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.g {
	background-image: url('./img/seeds.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.s {
	background-image: url('./img/tools.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}

.a {
	background-color: hsl(22, 34%, 59%);
}
.b {
	background-color: hsl(211, 46%, 58%);
}
.c {
	background-color: hsl(113, 44%, 57%);
}
.d {
	background-color: hsl(30, 98%, 66%);
}
.e {
	background-color: hsl(359, 80%, 71%);
}
.g {
	background-color: hsl(47, 92%, 71%);
}
.s {
	background-color: hsl(317, 35%, 68%);
}


/* In HSL */
/* .a { */
/* 	background-color: hsl(22, 24%, 49%); */
/* } */
/* .b { */
/* 	background-color: hsl(211, 36%, 48%); */
/* } */
/* .c { */
/* 	background-color: hsl(113, 34%, 47%); */
/* } */
/* .d { */
/* 	background-color: hsl(30, 88%, 56%); */
/* } */
/* .e { */
/* 	background-color: hsl(359, 70%, 61%); */
/* } */
/* .g { */
/* 	background-color: hsl(47, 82%, 61%); */
/* } */
/* .s { */
/* 	background-color: hsl(317, 25%, 58%); */
/* } */

/* Lighter */
/* .a { */
/* 	background-color: #d8b5a5; */
/* } */
/* .b { */
/* 	background-color: #9ecae9; */
/* } */
/* .c { */
/* 	background-color: #88d27a; */
/* } */
/* .d { */
/* 	background-color: #ffbf79; */
/* } */
/* .e { */
/* 	background-color: #ff9d98; */
/* } */
/* .g { */
/* 	background-color: #f2cf5b; */
/* } */
/* .s { */
/* 	background-color: #d6a5c9; */
/* } */

/* Darker */
/* .a { */
/* 	background-color: #9e765f; */
/* } */
/* .b { */
/* 	background-color: #4c78a8; */
/* } */
/* .c { */
/* 	background-color: #54a24b; */
/* } */
/* .d { */
/* 	background-color: #f58518; */
/* } */
/* .e { */
/* 	background-color: #e45756; */
/* } */
/* .g { */
/* 	background-color: #f2cf5b; */
/* } */
/* .s { */
/* 	background-color: #b279a2; */
/* } */

/* Original */
/* .a { */
/* 	background-color: sandybrown; */
/* } */
/* .b { */
/* 	background-color: #83bfda; */
/* } */
/* .c { */
/* 	background-color: #6dd195; */
/* } */
/* .d { */
/* 	background-color: #feb430; */
/* } */
/* .e { */
/* 	background-color: #ff6e3d; */
/* } */
/* .g { */
/* 	background-color: #FFD700; */
/* } */
/* .s { */
/* 	background-color: palevioletred; */
/* } */

.back {
	flex-direction: column;
	text-align: center;
	justify-content: center;
	font-size: 32px;
	/* background-image: linear-gradient(45deg, #bfbfbf 25%, #9c9883 25%, #9c9883 50%, #bfbfbf 50%, #bfbfbf 75%, #9c9883 75%, #9c9883 100%); */
	background: url(./img/back.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #bfbfbf;
}
.absent {
	border-style: dashed;
}

#bid_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#place_bid {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 36px;
}

#buttons_bid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	font-size: 36px
}

#display_bid {
	font-size: 24px;
	display: flex;
	justify-content: center;
}

.bid_change {
	height: 40px;
	width: 40px;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-flex;
	align-items: center; 
	justify-content: center;
}

#pay_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.area_indicator {
	position: absolute;
	top: 0
}

#results {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: center;
	font-size: 36px;
}

#results_table {
	align-self: center;
}

#results td {
	width: 70px;
	height: 70px;
	text-align: center;
	vertical-align: middle;
	border: 3px solid black;
}

#results .end_name {
	padding-right: 20px;
	padding-left: 20px;
	background-color: beige;
}
#results .end_points {
	padding-left: 20px;
	padding-right: 20px;
	background-color: beige;
}


#results small {
	font-size: 11px;
}

#results img {
	width: 70px;
	height: 70px;
	display: block;
}

#results .invisible_cell {
	border: 0px;
}

#results .winner {
	border: 6px solid red;
}

#declare_winner {
	margin-top: 20px;
	text-align: center;
}

#footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
}

#reference td {
	width: 30px;
	height: 45px;	
	text-align: center;
	vertical-align: middle;
	border: 2px solid black;
	border-radius: 5px;
}

#reference .times {
	border: 0px;
	height: 0px;	
}
#reference .empty {
	border: 0px;
}
#reference .space {
	border: 0px;
	width: 5px;
}

#setup td {
	width: 30px;
	height: 45px;	
	text-align: center;
	vertical-align: middle;
	border: 2px solid black;
	border-radius: 5px;
}

#setup .times {
	border: 0px;
	padding-left: 10px;
}
#setup .nplayer {
	border: 0px;
	font-weight: bold;
	white-space: nowrap;
}

