

#main_window {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

#dice_area{
}

#dice_and_change {
	display: flex;
	flex-direction: row;
}

#dice{
}

.die {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 20px;
	font-size: 36px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

#change_dice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.selector {
	width: 50px;
	height: 54px;
	border: 2px solid black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	appearance: none;
	font-size: 24px;
	text-align: center;
	text-align-last:center;
}

#commit_change {
	border: 2px solid black;
	border-radius: 10px;
	font-size: 18px;
	margin-top: 10px;
	background-color: pink;
}

#active_special_card {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


#board {
	display: flex;
	flex-direction: row;
}

#middlecol {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1 0 auto;
}

#players {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.player {
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.player_name {
	font-size: 18px;
	font-weight: bold;
}

.player_action {
	font-size: 16px;
}

.active {
	background-color: red;
}

#mid_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#public_space {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
}

#public_space > .card {
	margin: 30px;
}

#main_deck{
	min-width: 160px;
	min-height: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#auction_deck{
	min-width: 160px;
	min-height: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
}


#bottom_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#bid_area{
	min-width: 200px;
	min-height: 160px;
}

#active_card{
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
}

#pay_area{
	min-width: 200px;
	min-height: 160px;
}

#hand {
	display: flex;
	justify-content: center;
	min-height: 160px;
	align-items: center;
}


.game_container {
	padding: 10px;
	border: 3px solid grey;
	margin: 10px;
	border-radius: 20px;
}

.card {
	height: 120px;
	width: 80px;
	border: 1px solid green;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 10px;

}

.selected {
	border: 3px solid red;
}

.card_number {
	font-size: 40px;
	padding-left: 10px;
}

.card_letter {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
}

.draggable {
	
}

.card.a {
	background-image: url('./img/monstera.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.b {
	background-image: url('./img/sunflower.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.c {
	background-image: url('./img/pearls.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.d {
	background-image: url('./img/lavender.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.e {
	background-image: url('./img/snake.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.g {
	background-image: url('./img/seeds.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}
.card.s {
	background-image: url('./img/tools.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 75%; 
}

.a {
	background-color: #8f2d56;
}
.b {
	background-color: #119da4;
}
.c {
	background-color: #ff6b6b;
}
.d {
	background-color: #a85bc3;
}
.e {
	background-color: #b2192a;
}
.g {
	background-color: #ffa400;
}
.s {
	background-color: #2a9360;
}




.back {
	background-color: #494e57;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	font-size: 32px;
}
.absent {
	border-style: dashed;
}
