#outer_container {
	height: 100vh;
	background: url('./img/greenhouse_background.png');
	background-size: cover;
}


#lobby{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 24px;
}

#title {
	display: flex;
	justify-content: center;
	font-size: 60px;
	/* font-weight: bold; */
	padding: 20px;	
	font-family: Bookman, URW Bookman L, serif;
}

.pane{
	padding: 30px;
	border: 3px solid grey;
	margin: 20px;
	border-radius: 20px;
	background-color:rgba(255, 255, 255, 0.8);
	position: relative;
}

.semi_title{
	display: flex;
	justify-content: center;
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 20px;
}

.input-field {
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: 16px;
	border: 2px solid gray;
	border-radius: 5px;
}

/* .input-slider { */
/* 	margin: 22px 0; */
/* 	width: 100%; */
/* } */

.lobby-btn{
	margin: 0 auto;
	display: block;
	font-size: 24px;
	padding: 15px;
	border-radius: 10px;
	border: 3px solid grey;
	cursor: pointer;
}

.lobby-btn:hover {
	background-color: #4CAF50;
}

.input-slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 22px 0;
}

.input-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.input-slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

#github {
	position: absolute;
	bottom: 0;
	padding: 30px;
}

#we_pic {
	position: absolute;
	bottom: 0;
	right: 0;
}

#we_pic img{
	max-width:10vw;
}

#variant {
vertical-align: middle;	
}

input.checked {
	background-color: #4CAF50
}

#variant_container {
	display: inline-block;
	font-size: 10px;
	color: grey;
}
